<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <!--
        API Key: To use this sample with Accusoft Cloud Services, you must place your
        API key here. You can get a key at http://cloudportal.accusoft.com.
    -->
    <ApiKey>NiLa5OD6J1fnfakjww-4eTFW9_iGChW084-bfGScYKR9PyEYJdfaEyaW6ERhgM7Y</ApiKey>

    <!--
        DocumentPath: Original document location.
        If this location is on network, make sure that PrizmService is running
        under a network account.
        If this location is on network, do not pass mapped drive path, instead pass
        absolute path like: \\computername\file.pdf
    -->
    <DocumentPath>./../documents</DocumentPath>

    <!--
        MarkupsPath: Location for saved annotation records.
        Make sure that this directory has read/write permissions for the web server process.
    -->
    <MarkupsPath>./../annotations</MarkupsPath>

    <!--
        ImageStampPath: Location for images to be used as image stamps in the viewer.
        Make sure that this directory has read permissions for the web server process.
    -->
    <ImageStampPath>./../imagestamps</ImageStampPath>

    <ValidImageStampTypes>.png,.jpg,.jpeg,.gif</ValidImageStampTypes>
    <WebServiceScheme>https</WebServiceScheme>
    <WebServiceHost>dev-api.accusoft.com</WebServiceHost>
    <WebServicePort>443</WebServicePort>
    <WebServicePath>PCCIS/V1</WebServicePath>
    <EnableDocumentPath>false</EnableDocumentPath>
</Config>
